{% extends 'riders/profiles/base.html' %} {% load bootstrap3 %} {% load static %} {% load ratings %}{% block content %} <br>
<div class="container" id="editprofiles">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <img src="{{riderprofile.profile_pic.url}}" class="img-responsive" alt="Image">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <h2>Username: {{user.username}}</h2> <br>
      <h4>{{ riderprofile.phone_number}} {{user.email}}</h4>
      <h5><a href="{% url 'riders:edit' request.user.username %}">Edit Profile</a></h5>
    </div>
    <!-- rate driver -->
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <h3>Reviews</h3> {% ratings riderprofile %}
      <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
      <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
  </div>
  <hr>
  <!-- Display Map -->
  <!-- <div id="map">
  </div>
</div> -->
  {% endblock %}