{% extends 'drivers/profiles/base.html' %} {% load bootstrap3 %} {% load static %} {% load ratings %}{% block content %} <br>
<div class="container" id="editprofiles">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <img src="{{driverprofile.profile_pic.url}}" class="img-responsive" alt="Image">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <h4>Username: {{user.username}}</h4>
      <h4>{{ driverprofile.phone_number}} {{user.email}}</h4>
      <h5><a href="{% url 'drivers:edit' request.user.username %}">Edit Profile</a></h5>
      <a href="{% url 'drivers:cardetails' request.user.username %}"><button class="btn btn-info">Car Details</button></a>
    </div>
    <!-- rate driver -->
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <h3>Reviews</h3> {% ratings driverprofile %}
      <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
      <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <h3>List Of Drivers</h3> {% for rider in riderprofile%}
      <ul style="list-style-type:circle">
        <li><a href="{% url 'drivers:riderprofile' rider.user.id %}"> {{rider.user.username}}</a></li>
      </ul>{% endfor%}
    </div> <br>
  </div>
  <hr>
  <!-- Display Map -->
  <div id="map">
  </div>
</div>
{% endblock %}