{% extends 'base.html'%} {% load bootstrap3 %} {% load staticfiles %}
<!-- block content -->
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Anywhere, Anytime</h2><br>
      <p>Whether it's Late night drinks, running errands, daily commute or catching a flight,<strong> Count on PMR.</strong>
      </p>
    </div>
    <div class="col-md-6">
      <h2>About</h2><br>
      <p>This is a car pooling system that helps users get around easily. <br> When the car owner wants to share his/her car, they will enter the information suchas number of passengers , source/destination e.t.c <br> Any person who wants tojoin a shared
        car should enter some information such as picking point and <br> dstination point.
      </p>
    </div>
  </div>
</div>
{% endblock %}